@model List<ResourceEditor.Models.LangName>

@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data</h2>

<p>@ViewBag.cult</p>

<script type="text/javascript">
    let urlControlDeleteMethod = "@Url.Action("DeleteLineResourceControl", "Home")";
</script>

@{
<form action="@Url.Action("Data", "Home")" method="post">
    @Html.Partial("Language")
    <p><input type="submit" value="Отправить"></p>
</form>
    
    <form id="data" method="post" action="@Url.Action("Data", "Home")">
        <input type="text" id="inputCountrySelect" name="Id" value="@ViewBag.cult" readonly />
        <table id="mainTable" class="table">
            <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    <tr>
                        <th scope="row"><input name="list[@i].Id" value="@item.Id" readonly></th>
                        <td><input type="text" name="list[@i].Value" value="@item.Value" /></td>
                        <td><input type="text" name="list[@i].Comment" value="@item.Comment" /></td>
                        <td>
                            <button type="button" id="deleteButtonLineResource" name="deleteButton_@item.Id" value="@item.Id"  onclick="buttonDeleteLineResoure(this)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" name="generateButton" value="generate">Generate</button>
    </form>
}