@model List<ResourceEditor.Models.LangName>

@{
    ViewBag.Title = "MainTableResource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MainTableResource</h2>

<p>@ViewBag.cult</p>

<script type="text/javascript">
    let urlControlDeleteMethod = "@Url.Action("DeleteLineResourceControl", "Home")";
    let urlControlEditMethod = "@Url.Action("MainTableResource", "Home")";
</script>

@{
@*<form action="@Url.Action("MainTableResource", "Home")" method="post">
    @Html.Partial("Language")
    <p><input type="submit" value="Отправить"></p>
</form>*@
    
<form method="post" action="@Url.Action("MainTableResource", "Home")">
    @Html.Partial("SelectLanguage")
    <div id="rootMainTable">
        <table id="mainTable" class="table">
            <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (@Model != null)
                    {
                        for (var i = 0; i < Model.Count; i++)
                        {
                            var item = Model[i];
                            <tr>
                                <th scope="row"><input name="list[@i].Id" value="@item.Id" readonly></th>
                                <td><input type="text" name="list[@i].Value" value="@item.Value" /></td>
                                <td><input type="text" name="list[@i].Comment" value="@item.Comment" /></td>
                                <td>
                                    <button type="button" name="deleteButton_@item.Id" value="@item.Id" class="deleteLineButton">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <button type="submit" name="generateButton" value="generate">Generate</button>
</form>
}