
@{
    ViewBag.Title = "MainTableResource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MainTableResource</h2>

<p>@ViewBag.cult</p>

<script type="text/javascript">
    let urlControlDeleteMethod = "@Url.Action("DeleteLineResourceControl", "Home")";
    let urlControlEditMethod = "@Url.Action("MainTableDataResource", "Home")";
</script>

@{
    @*<form action="@Url.Action("MainTableResource", "Home")" method="post">
            @Html.Partial("Language")
            <p><input type="submit" value="Отправить"></p>
        </form>*@

    <form method="post" action="@Url.Action("MainTableResource", "Home")">
        @Html.Partial("SelectLanguage")
        <div id="rootMainTable">
            <table id="mainTable" class="table">
                <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="mainDataBodyTable">

                    @Html.Partial("MainTableDataResource")

                </tbody>
            </table>
        </div>
        <button type="submit" name="generateButton" value="generate">Generate</button>
    </form>
}

<div id="root">

</div>