@section scripts {
    <script type="text/javascript">
        let urlControlActionDelete = "@Url.Action("Delete", "Home")";
        let urlControlActionUpdate = "@Url.Action("Update", "Home")";
        let urlControlSwitchLanguage = "@Url.Action("Switch", "Home")";
    let list = [];
    let countTableElement = 0;
    </script>
}

@{
    ViewBag.Title = "Main Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    <div class="mainTableResource">
        <form method="post" action="@Url.Action("Read", "Home")">
            <br />
            <p>
                <select class="form-control d-inline w-100" id="countrySelect" name="Id">
                    <option disabled>Select language</option>
                    @foreach (var item in ResourceEditor.Managers.XmlManager.GetLanguages())
                    {
                        <option value="@item.Id">@item.Value</option>
                    }
                </select>
            </p>
            <br />
            <div id="rootMainTable">
                <table id="mainTable" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                            <th scope="col">Comment</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="mainDataBodyTable">
                        @Html.Partial("UpdateData")
                    </tbody>
                </table>
            </div>
            <p><button type="button" class="btn btn-warning d-inline w-100" id="addTableRow">+</button></p>
        </form>
    </div>
}