
@section scripts {
    <script type="text/javascript">
        const urlControlActionDelete = "@Url.Action("Delete", "Home")";
        const urlControlActionUpdate = "@Url.Action("Update", "Home")";
        const urlControlActionDataProtect = "@Url.Action("DataProtect", "Home")";
        const urlControlSwitchLanguage = "@Url.Action("SwitchLanguage", "Home")";
        const urlControlUploadFile = "@Url.Action("UploadFile", "Home")";
        const urlControlGetFile = "@Url.Action("GetFile", "Home")";
        const urlControlSelectCountry = "@Url.Action("SelectCountry", "Home")";
        const urlControlRead = "@Url.Action("Read", "Home")";

    </script>
}

@{
    ViewBag.Title = "Main Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" id="FileResource" multiple required accept=".resx">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
        </div>
    </div>
    <div class="col s12">
        <div>
            <button id="ResourceUploads" class="btn" type="button">Send</button>
        </div>
    </div>
</div>
<div class="row center">
    <div class="col s6 centered" id="CountrySelect">

    </div>
    <div class="col s3 centered">
        <button id="countrySelectRefresh" class="btn" type="button">Refresh</button>
    </div>
    <div class="col s3 centered ">
        <button id="ResourceSave" type="button" class="btn">Download</button>
    </div>
</div>
<div class="row center">
    <div class="col s12">
        <div id="rootMainTable">
            <table id="mainTable" class="highlight centered responsive-table">
                <thead id="mainDataHeadTable">
                    <tr>
                        <th scope="col"><button class="BtnSort btn-flat" value="Id" id="BtnSortId" type="button">Id</button></th>
                        <th scope="col"><button class="BtnSort btn-flat" value="Value" id="BtnSortValue" type="button">Value</button></th>
                        <th scope="col"><button class="BtnSort btn-flat" value="Comment" id="BtnSortComment" type="button">Comment</button></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <thead id="mainDataHeadFilterTable">
                    <tr>
                        <th scope="col"><input type="search" class="inputSearch" name="Id" placeholder="Filter by Id" /></th>
                        <th scope="col"><input type="search" class="inputSearch" name="Value" placeholder="Filter by Value" /></th>
                        <th scope="col"><input type="search" class="inputSearch" name="Comment" placeholder="Filter by Comment" /></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="mainDataBodyTable"></tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn-floating btn-large waves-effect waves-light red" id="addTableRow"><i class="material-icons">add</i></button>
        </div>
    </div>
</div>
