@section scripts {
    <script type="text/javascript">
        const urlControlActionDelete = "@Url.Action("Delete", "Home")";
        const urlControlActionUpdate = "@Url.Action("Update", "Home")";
        const urlControlActionDataProtect = "@Url.Action("DataProtect", "Home")";
        const urlControlSwitchLanguage = "@Url.Action("Switch", "Home")";
        const urlControlUploadFile = "@Url.Action("UploadFile", "Home")";
        const urlControlGetFile = "@Url.Action("GetFile", "Home")";

    </script>
}

@{
    ViewBag.Title = "Main Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col">
    <div>
        <input type="file" class="" id="FileResource" multiple required accept=".resx">
        <button id="ResourceUploads" class="btn btn-secondary" type="button">Send</button>
    </div>
    <div class="mainTableResource">
        <form method="post" action="@Url.Action("Read", "Home")">
            <br />
            <p>
                @Html.Partial("SelectCountry")
                <a id="linkDownloads" href="@Url.Action("GetFile",  "Home", new { Language = "" })" name="Language" class="btn btn-info" download>Download</a>
                <button type="button" class="btn btn-dark" id="saveResxFile">Save</button>
            </p>
            <br />
            <div id="rootMainTable">
                <table id="mainTable" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                            <th scope="col">Comment</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="mainDataBodyTable"></tbody>
                </table>
            </div>
            <p><button type="button" class="btn btn-warning d-inline w-100" id="addTableRow">+</button></p>
        </form>
    </div>
</div>
