
@section scripts {
    <script type="text/javascript">
        const urlControlActionDelete = "@Url.Action("Delete", "Home")";
        const urlControlActionUpdate = "@Url.Action("Update", "Home")";
        const urlControlActionDataProtect = "@Url.Action("DataProtect", "Home")";
        const urlControlSwitchLanguage = "@Url.Action("Switch", "Home")";
        const urlControlUploadFile = "@Url.Action("UploadFile", "Home")";
        const urlControlGetFile = "@Url.Action("GetFile", "Home")";
        const urlControlSelectCountry = "@Url.Action("SelectCountry", "Home")";

    </script>
}

@{
    ViewBag.Title = "Main Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col">
    <div>
        <input type="file" class="" id="FileResource" multiple required accept=".resx">
        <button id="ResourceUploads" class="btn btn-secondary" type="button">Send</button>
    </div>
    <div>
        <br />
        <div id="CountrySelect">
            @Html.Partial("SelectCountry")
        </div>
        <div><button type="button" class="btn btn-dark" id="ResourceSave">Download</button></div>
        <br />
        <div id="rootMainTable">
            <table id="mainTable" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                        <th scope="col">Comment</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="mainDataBodyTable"></tbody>
            </table>
        </div>
        <p><button type="button" class="btn btn-warning d-inline w-100" id="addTableRow">+</button></p>
    </div>
</div>
