<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - ResX Editor</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/kendoUI")
    @Styles.Render("~/Content/site")

</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col">
                <ul>
                    <li>@Html.ActionLink("Main Table", "read", "Home")      </li>
                    <li>@Html.ActionLink("Main Kendo Table", "ReadCrud", "TableEditResource")        </li>
                    <li>@Html.ActionLink("Get JSON", "_getJson", "TableEditResource")        </li>
                </ul>
            </div>
        </header>
        <main class="row">
            <div class="col"> 
                @RenderBody()
            </div>
        </main>
        <footer class="row">
            <div class="col"> 
                @Html.Partial("GetUserIP")
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalunob")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendoUI")
    @Scripts.Render("~/bundles/main")

    @RenderSection("scripts", required: false)

</body>
</html>
