<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - ResX Editor</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Styles.Render("~/Content/materialize")
    @Styles.Render("~/Content/site")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        const urlControlActionDelete = "@Url.Action("Delete", "Home")";
        const urlControlActionUpdate = "@Url.Action("Update", "Home")";
        const urlControlActionDataProtect = "@Url.Action("DataProtect", "Home")";
        const urlControlSwitchLanguage = "@Url.Action("SwitchLanguage", "Home")";
        const urlControlUploadFile = "@Url.Action("UploadFile", "Home")";
        const urlControlGetFile = "@Url.Action("GetFile", "Home")";
        const urlControlSelectCountry = "@Url.Action("SelectCountry", "Home")";
        const urlControlRead = "@Url.Action("Read", "Home")";
        const urlControlLogFile = "@Url.Action("LogFile", "Home")";

    </script>

    <meta http-equiv="pragma" content="no-cache">

</head>
<body>
    <div class="container">
        <header class="row center">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Index", "Index", "Home")</li>
                        <li>@Html.ActionLink("Main Table", "Read", "Home")</li>
                        <li>@Html.ActionLink("Log Table", "Log", "Home")</li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                <li>@Html.ActionLink("Index", "Index", "Home")</li>
                <li>@Html.ActionLink("Main Table", "read", "Home")</li>
                <li>@Html.ActionLink("Log Table", "Log", "Home")</li>
            </ul>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer class="row center">
            <div class="alert alert-secondary" role="alert">
                @Html.Partial("GetUserIP")
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalunob")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/main")

</body>
</html>
