<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - ResX Editor</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/site")

    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        @Html.ActionLink("Index", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Main Table", "read", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </header>
        <main class="row">
            <div class="col"> 
                @RenderBody()
            </div>
        </main>
        <footer class="row">
            <div class="col">
                <div class="alert alert-secondary" role="alert">
                    @Html.Partial("GetUserIP")
                </div>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalunob")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/main")


</body>
</html>
