@model List<ResourceEditor.Models.LangName>

@{ 
    if (ViewBag.result != null)
    {
        <p>@ViewBag.result</p>
    }
}

@{
    for (var i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        <tr>
            <th scope="row"><input name="list[@i].Id" value="@item.Id" readonly></th>
            <td><input type="text" name="list[@i].Value" value="@item.Value" /></td>
            <td><input type="text" name="list[@i].Comment" value="@item.Comment" /></td>
            <td>
                <button type="button" name="deleteButton_@item.Id" value="@item.Id" class="deleteLineButton">Delete</button>
            </td>
        </tr>
    }
}
