@using ResourceEditor.Entities;
@model List<ResourceEditor.Entities.LangName>

@{
    for (var i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        <tr id="tableRow_@item.Id">
            <th scope="row"><input class="inputResourseData  form-control d-inline w-100" id="Id_@item.Id" name="list[@i].Id" value="@item.Id" readonly></th>
            <td><input type="text" class="inputResourseData  form-control d-inline w-100" id="Value_@item.Id" name="list[@i].Value" value="@item.Value" /></td>
            <td><input type="text" class="inputResourseData  form-control d-inline w-100" id="Comment_@item.Id" name="list[@i].Comment" value="@item.Comment" /></td>
            <td><button type="button" id="saveButton_@item.Id" value="@item.Id" class="saveLineButton btn btn-success d-inline w-100">Save</button></td>
            <td><button type="button" id="deleteButton_@item.Id" value="@item.Id" class="deleteLineButton btn btn-danger d-inline w-100">Delete</button></td>
        </tr>
    }
}
